/* Importación de la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

/* Variables CSS */
:root {
    --bg-color: #2E2E2E;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #ffffff;
}

/* Estilos del cuerpo de la página */
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem; /* Tamaño base de la fuente */
}

/* Tamaño base de la fuente para dispositivos móviles */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Estilos de la barra de desplazamiento */
html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

/* Estilos de los títulos */
h1, h2, h3 {
    color: #00C8FF; /* Color azul para los títulos */
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; /* Centrado horizontal */
}

/* Contenedor de la imagen personal */
.me-container {
    display: flex;
    align-items: center;
    gap: 7px; /* Espaciado entre elementos */
}

/* Estilo del logo personal */
.me {
    width: 50px;
    height: 40px;
}

/* Estilos de la sección de navegación */
.sections {
    display: flex;
    list-style: none;
}

.sections li {
    margin-right: 20px;
}

.sections a {
    color: #00C8FF; /* Color azul para los enlaces de navegación */
    font-weight: bold;
}

.sections a:hover {
    color: #fff; /* Color blanco al pasar el ratón por encima */
}

/* Estilos de la barra de navegación */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #2122237d; /* Color de fondo con transparencia */
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .container {
        width: 80%; /* Ancho reducido para pantallas más pequeñas */
    }
}

@media screen and (max-width: 900px) {
    nav {
        height: 50px; /* Altura reducida para pantallas más pequeñas */
    }

    .sections, .me-container {
        display: none; /* Ocultar elementos de navegación */
    }
}

/* Estilos de las secciones */
section {
    margin: 5rem 0; /* Margen superior e inferior */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo de la imagen personal */
img.imagenes-yo {
    width: 400px;
    height: 400px;
}

/* Estilos del ícono de descarga */
.svg-download {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

/* Estilo del botón de descarga */
.download-btn {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    position: relative; /* Establece el posicionamiento relativo */
    bottom: 7rem; /* Mueve el botón hacia abajo 2 rem desde su posición original */
    right: 40rem; /* Ajusta el ancho al contenido */
    width: fit-content;
    align-self: auto; /* Alinea el botón al centro */
}

.download-btn:hover {
    filter: drop-shadow(0 0 2px var(--main-color)); /* Efecto de sombra al pasar el ratón */
}

/* Contenedor de los enlaces */
.ancor-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem; /* Espacio por encima de los botones de LinkedIn y GitHub */
}

/* Estilos de los enlaces */
.ancor-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2px;
    background-color: #00C8FF;
    margin: 30px 30px;
    padding: 10px 80px;
    border-radius: 20px;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
    opacity: .9;
    border: 2px solid #fff;
}

/* Efecto hover de los enlaces */
.ancor-container a:hover .svg-ancor {
    transform: translate(5px);
    transition: transform .3s ease;
}

/* Estilos de los íconos de los enlaces */
.svg-ancor {
    width: 25px;
}


/* Estilos de la sección de inicio */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
    flex-direction: column;
    background-color: #464646; /* Color de fondo */
}

.home .header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos al principio */
    gap: 4rem; /* Espacio entre los elementos */
}



.home-content {
    width: 100%; /* Ancho del 100% */
}

/* Estilos del contenido de la sección de inicio */
.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

/* Estilos de la imagen de la sección de inicio */
.home-img {
    margin-bottom: 2rem; /* Espacio entre la imagen y el contenido */
    width: 100%; /* Ancho del 40% */
    order: -1; /* Cambia el orden para que vaya primero */
    position: relative; /* Establece el posicionamiento relativo */
    bottom: 6rem;
}

.home-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color)); /* Efecto de sombra al pasar el ratón */
}

/* Estilos del párrafo de la sección de inicio */
.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
}

